.b-green {
    background-color: var(--main-green-color) ; 
}
.b-sel {
    background-color: var(--dark-green-color); 
    border: 3px solid var(--white);
    cursor: pointer;
}
.card-category {
    cursor: pointer;
    transition: background-color 0.2s ease;
}